.div( class="modalcontainer modal-large" id="modal-output" data-local-id="")
    .div(class="container-fluid h-100")
        div(class="row")
            .col-2
                h1 Combined Outputs
            .col
                h4(id = "output-title" style = "text-align:center; padding-top: 15px")
            .col-1
                a(style=" z-index: 100;" class="window-close")
                    i( id ="modal-output-window-close" class="fa fa-window-close icon-menu")

        div(class="row" style="height:90%")
            .col-2

                hr
                button(style="position: absolute; right:20px;" onclick="") Export Results
            .col
                hr
                .component-info-status(id="outputs-chart" data-trace-url="" class="chart-container")





        .row
            .col
                h5 Results
                hr
                .div(style="height:425px; overflow:auto;")
                    //input(id="comp")
                    .div(id="request_result" )
                        button(onclick="databaseConnectorGUI.computationOutput()") Request Results
                    p(id = "result_area") Results here t