

block content
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

    script(src='/javascripts/packages/jquery-3.4.1.min.js')
    script(src='/javascripts/packages/popper.min.js')
    script(src='/javascripts/packages/bootstrap.min.js')


    //- link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    //- script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    .container
        br
        .card
            .card-header
                h1 Log in
            .card-body
                form(action="/login" method="post")
                    .row

                        .col-2
                            p Username:
                        .col-2
                            input(type="text" name="username")
                    .row

                        .col-2
                            p Password:
                        .col-2
                            input(type="password" name="password")
                    .row
                        input(type="submit" value="Log In" name="submit-button" class = "btn btn-primary" style = "margin: 15px")
                    .row
                        p(id="login-message") #{message}


