html
    head
        title= "workflow"
        link(rel='stylesheet', href='/stylesheets/style.css')

        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

        //- link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    body
        style
            include ../public/stylesheets/grids.css
        style
           include ../public/stylesheets/components.css
        style
            include ../public/stylesheets/style.css
        style
            include ../public/stylesheets/jquery-ui.css
        .div(id="wf-window" style = "height:100%; width:100%; overflow: scroll")
            .div(class = "workflow_stage plain-grid" id="workflow_stage" )

        script(src='/javascripts/packages/jquery-3.4.1.min.js')

        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        //- //script(src='/javascripts/GUI/settings.js')

        //- //script(src = '/javascripts/GUI/database-connector.js')
        script(src = '/javascripts/server-connector/workflow-connector.js')


        script(src='/javascripts/workflow/load-wf.js')

        script(src='/javascripts/workflow/logic.js')
        script(src='/javascripts/workflow/component/dom-builder.js')
        script(src='/javascripts/workflow/component/dom-activator.js')
        script(src='/javascripts/workflow/component/dom-nodes.js')
        script(src='/javascripts/workflow/manager.js')
        script(src='/javascripts/workflow/connection-manager.js')
        script(src='/javascripts/packages/plain-draggable.min.js')
        script(src='/javascripts/packages/leader-line.min.js')





