<div class="new_component id="dragme">
    <a style=" z-index: 100;">
        <i id ="delete${comp.id}" class="fa fa-times-circle delete-button"></i>
    </a>
    <a style=" z-index: 100;">
        <i id ="info${comp.id}" class="fa fa-info-circle info-button"></i>
    </a>
    <div class="left_node_container" id="left_node_container${comp.id}">
        <a class="borderoutlineleft left node" style=" z-index: 100;">
            <i class="fa fa-circle"></i>
        </a>
        <a class="left node" style=" z-index: 100;">
            <i class="fa fa-circle"></i>
        </a>
    </div>
    <div class="right_node_container" id="right_node_container${comp.id}">
        <a class="borderoutlineright right node" style=" z-index: 100;">
            <i class="fa fa-circle"></i>
        </a>
        <a class="right node" style=" z-index: 100;">
            <i class="fa fa-circle"></i>
        </a>
    </div>
    <div class="comp_header ui-widget-content">
        <p class="comp_header_text">Test Component</p>
    </div>
    <div class="comp_body ui-widget-content">
        <p class="comp_input_text">input</p>
        <p class="comp_output_text">output</p>
    </div>
</div>